@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* @source: https://css-tricks.com/snippets/css/typewriter-effect/ */
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 2.5s steps(80, end) forwards;
  }

  /* @source: https://css-tricks.com/snippets/css/typewriter-effect/ */
  /* The typing effect */
  @keyframes typing {
    0% {
      width: 0;
      border-right-width: 2px;
      border-color: white;
    }
    40% {
      border-right-width: 2px;
      border-color: white;
    }
    60% {
      border-right-width: 2px;
      border-color: white;
    }
    80% {
      border-right-width: 2px;
      border-color: white;
    }
    90% {
      border-right-width: 2px;
      border-color: white;
    }
    95% {
      border-right-width: 2px;
      border-color: white;
    }
    100% {
      width: 100%;
    }
  }

  .proficient-bar-animation {
    animation: proficient-bar 4s linear infinite;
    background-size: 600% 100%;
    background-image: linear-gradient(
      90deg,
      #5ad0ff,
      #95cbef,
      #85d28d,
      #ffe95a,
      #a8ef95,
      #5ad0ff,
      #95cbef
    );
  }

  @keyframes proficient-bar {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
